html{
    scroll-behavior:smooth;
}
body{
    background-color: rgb(9, 83, 148);
    font-family: "Baloo Tamma 2", cursive  ;
}
.m-heading{
    font-family: "Roboto slab",serif;
}
.text-white{
    color: rgb(218, 23, 23);
}
.main-container{
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
    ;
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xlYW4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;   
    background-size: cover;
    background-attachment: fixed;
}
.main row{
    display: flex;
    justify-content:    
     center;  
    align-items: center;      
}
.main row h1{
    font-size:5rem
}
.main_row img{
    width:auto;
    height:100vh;
}
.about{
    background: black;
    border-radius: 0.5rem;
}
.card{
    border-bottom:8px solid
}